<div class="h-full">
    <div class="flex mx-auto overflow-y-scroll no-scrollbar justify-between max-w-screen-md h-full bg-white rounded-2xl" [ngSwitch]="currentState">
        <admin-main-screen *ngSwitchCase="ADMIN_STATE.MAIN" class="w-full h-full"></admin-main-screen>
        <!--<admin-add-employee-screen *ngSwitchCase="ADMIN_STATE.ADD_EMPLOYEE" class="w-full h-full"></admin-add-employee-screen>
        <admin-change-order-screen *ngSwitchCase="ADMIN_STATE.CHANGE_ORDER_STATUS" class="w-full h-full"></admin-change-order-screen>-->
    </div>
</div>
