
<div class="bucket-item">
    <mat-list-item>
        <img matListItemAvatar src={{url}}>
        <div class="bucket-item-desc">
            <div class="bucket-item-title">{{title}}</div>
            <button mat-flat-button color="accent" class="add-button">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-flat-button class="remove-button">
                <mat-icon>remove</mat-icon>
            </button>
            {{count}}
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
</div>