<div class="py-10 w-full h-full px-5 flex flex-col justify-between">
    <div>
        <p class="pretty-font font-semibold text-xl md:text-3xl text-gray-700 text-center">Сборка</p>
        <div>
            <p class="pretty-font font-semibold text-xl md:text-5xl text-gray-700">Клиент отменил заказ</p>
            <p class="pretty-font font-semibold text-xl md:text-4xl text-gray-400">Разберите заказ и берите следующий</p>
        </div>
    </div>

    <button class="w-full bg-gray-400 rounded-2xl p-5" (click)="onEscapeClicked()">
        <span class="pretty-font font-semibold text-xl md:text-4xl text-gray-700">Вернуться к заказам</span>
    </button>
</div>
