<div class="bucket">
    <mat-card>
        <app-address></app-address>
        <mat-list class="bucket-items">
            <app-bucket-item 
                url="https://cm.samokat.ru/processed/m/original/7323ffdd-3fff-11ed-b96c-08c0eb32008b_1669197198.jpg" 
                title="Product four"
                price="400"
                count="5"
            ></app-bucket-item>
            <app-bucket-item 
                url="https://cm.samokat.ru/processed/m/original/112562_643953137.jpg" 
                title="Product seven"
                price="700"
                count="1"
            ></app-bucket-item>
            <app-bucket-item 
                url="https://cm.samokat.ru/processed/m/original/124584_1965506859.jpg" 
                title="Product eigth"
                price="800"
                count="2"
            ></app-bucket-item>
        </mat-list>
    </mat-card>
</div>