<div class="min-h-full min-w-full">
    <img src="https://cm.samokat.ru/processed/m/public/faadc91ba493ea29_4600495000019.jpg" class="rounded-xl"/>
    <p class="pretty-font text-neutral-700 text-sm font-medium">Product title</p>
    <button class="rounded-full bg-gray-100 transition duration-200 hover:bg-gray-200 h-8">
        <div class="flex px-2">
            <span class="px-3 pretty-font text-rose-500 text-sm font-semibold">
                {{10 | currency :'INR':'symbol':'2.0-0'}}
            </span>
            <svg width="20px" height="20px" viewBox="0 0 0.375 0.375" fill="#f43f5e" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.175 0.175V0.025h0.025v0.15h0.15v0.025H0.2v0.15H0.175V0.2H0.025V0.175h0.15Z"/></svg>
        </div>
    </button>
</div>
