<div class="h-full">
    <div class="flex mx-auto overflow-y-scroll no-scrollbar justify-between max-w-screen-md h-full bg-gray-700 rounded-2xl" [ngSwitch]="currentState">
        <app-courier-waiting *ngSwitchCase="ORDER_STATUS.ASSEMBLED" class="w-full h-full"></app-courier-waiting>
        <app-delivery *ngSwitchCase="ORDER_STATUS.DELIVERING" class="w-full h-full" [order]="currentOrder"></app-delivery>
        <app-courier-reject *ngSwitchCase="ORDER_STATUS.REJECTED" class="w-full h-full"></app-courier-reject>
    </div>
</div>
