<div class="w-full h-screen flex py-4">
    <div class="rounded-[3rem] bg-white h-full pt-20 px-5 flex flex-col justify-between py-5">
        <div>
            <p class="text-gray-700 pretty-font text-4xl font-bold">Выбрать адрес</p>
            <div class="my-5">
                <app-address-item class="my-10" *ngFor="let address of addresses" [address]="address" [selected]="address.id == currentAddress?.id"></app-address-item>
            </div>
        </div>
        <button class="rounded-full bg-rose-500 p-5 px-15 w-full">
            <span class="text-gray-200 pretty-font text-2xl font-semibold" (click)="onAddressCreate()">Добавить новый адрес</span>
        </button>
    </div>
</div>
