
<div>
    <p class="pretty-font text-gray-700 font-bold text-3xl">{{title}}</p>
    <p class="pretty-font text-gray-700 font-semibold text-xl">{{legend}}: 5</p>
    <div class="grid grid-cols-1 gap-3">
        <app-column-item
            [address]="'9 Января, 68а(п1, э23)'"
            [fio]="'Овчинникова Вероника'"
            [time]="'20:20'"
            [items]="5"
        ></app-column-item>
        <app-column-item
            [address]="'9 Января, 68а(п1, э23)'"
            [fio]="'Овчинникова Вероника'"
            [time]="'20:20'"
            [items]="5"
        ></app-column-item>
        <app-column-item
            [address]="'9 Января, 68а(п1, э23)'"
            [fio]="'Овчинникова Вероника'"
            [time]="'20:20'"
            [items]="5"
        ></app-column-item>
        <app-column-item
            [address]="'9 Января, 68а(п1, э23)'"
            [fio]="'Овчинникова Вероника'"
            [time]="'20:20'"
            [items]="5"
        ></app-column-item>
    </div>
</div>
