

.product-list{
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(5,minmax(0,1fr));
    grid-gap: 10px 8px;
    max-height: 100%;
}

.product-paginator{
    margin-top:10px;
}
