.product-card {
    
}
  
mat-icon{
    margin: 0px;
}

mat-card-actions{
    padding-top: 0;
    padding-bottom: 0;
}

.add-button{
    height: 25px;
    border-radius: 10px;
    padding: 0px;
}

.remove-button{
    height: 25px;
    border-radius: 10px;
    padding: 0px;
}

