<div *ngIf="currentAddress; then addressExist else addressNotExist"></div>
<ng-template #addressNotExist>
    <button class="mx-auto flex text-3xl py-5 pretty-font text-neutral-700 font-semibold" [matMenuTriggerFor]="addressesMenu">Выберите адрес</button>
</ng-template>
<ng-template #addressExist>
    <button class="mx-auto flex text-3xl py-5 pretty-font text-neutral-700 font-semibold" [matMenuTriggerFor]="addressesMenu">{{currentAddress?.value}}</button>
</ng-template>

<mat-menu #addressesMenu>
    <div class="grid grid-col divide-y divide-solid">
        <app-address-item *ngFor="let address of addresses" [address]="address" (addressSelected)="onAddressSelected($event)"></app-address-item>
    </div>
</mat-menu>
