<div class="py-10 w-full h-full px-5 flex flex-col justify-between">
    <div>
        <p class="pretty-font font-semibold text-xl md:text-3xl text-gray-100 text-center">Доставка</p>
        <div>
            <p class="pretty-font font-semibold text-xl md:text-5xl text-gray-100">Клиент отменил заказ</p>
            <p class="pretty-font font-semibold text-xl md:text-4xl text-gray-400">Возвращайтесь и отдайте заказ сборщику</p>
        </div>
    </div>

    <button class="w-full bg-slate-600 rounded-2xl p-5" (click)="onEscapeClicked()">
        <span class="pretty-font font-semibold text-xl md:text-4xl text-gray-200">Вернуться к заказам</span>
    </button>
</div>
