<div class="max-full flex-col">
    <app-address></app-address>
    <div class="mx-4 divide-y divide-solid">
        <app-order-item class="max-w-sm" *ngFor="let item of currentOrder?.items" [orderItem]="item"></app-order-item>
    </div>
    <div class="max-w-full">
        <div class="flex mx-auto justify-center">
            <span class="pretty-font text-xl text-neutral-700 font-medium">Итого</span>
        </div>
        <div class="flex mx-auto justify-center">
            <span class="pretty-font text-2xl text-neutral-700 font-bold">{{totalPrice | currency :'RUB':'symbol':'1.0-0'}}</span>
        </div>
        <div class="max-w-full mx-4">
            <div *ngIf="currentOrder && currentOrder.items && currentOrder.items.length > 0 && currentOrder.address; then activeButton else disabledButton"></div>
            <ng-template #disabledButton>
                <button class="h-16 my-5 rounded-full text-lg font-medium text-gray-200 bg-rose-300 w-full" disabled>Продолжить</button>
            </ng-template>
            <ng-template #activeButton>
                <button class="h-16 my-5 rounded-full text-lg font-medium text-gray-200 bg-rose-500 w-full" (click)="makeOrder()">Продолжить</button>
            </ng-template>
        </div>
    </div>
</div>
