<div class="px-4 justify-between min-w-full">
    <input type="text" class="bg-gray-200 text-sm rounded-full w-full min-h-4 mt-4 p-2 text-xl text-slate-600 px-5 ">

    <div class="grid xl:grid-cols-5 md:grid-cols-3 gap-5 my-5">
        <app-product-cart></app-product-cart>
        <app-product-cart></app-product-cart>
        <app-product-cart></app-product-cart>
        <app-product-cart></app-product-cart>
        <app-product-cart></app-product-cart>
        <app-product-cart></app-product-cart>
    </div>
</div>

