
.root{
    width: 100%;
    display: flex;
    row-gap: 100px;
}

app-groups{
    width:20vw;
    max-width: 250px;
    max-height:100%;
    padding-top:10px;
    padding-left: 10px;
}

app-main{
    width:55vw;
    min-width: 700px;
    height:100%;
    padding-left: 10px;
    padding-top: 10px;
    overflow: auto;
}

app-order{
    width: 25vw;
    min-width: 450px;
    max-height:100vh;
    padding-top: 10px;
    padding-left: 10px;
}